.search-box {
  display: flex;
  flex-grow: 1;
  position: relative;
  label {
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  input {
    padding-left: 0.5rem;
  }
  .clear {
    position: absolute;
    background-color: transparent;
    right: 0;
    top: 0;
    width: auto;
    text-decoration: underline;
    color: var(--action);
  }
}
