a {
  cursor: pointer;
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

h2,
h3 {
  color: var(--primary);
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
}

h3 {
  font-size: 0.875rem;
}

button {
  width: 100%;
  height: 100%;
  // border-radius: 0.5rem;
  padding: 0.75rem;
  background-color: transparent;
  border: 1px solid;
  &.link {
    max-width: 100px;
    font-size: 0.875rem;
    padding-right: 40px;
    font-weight: 300;
    background-image: url(/common/images/arrow_left.png);
    background-repeat: no-repeat;
    background-position: center right 10px;
  }
  &.default {
    color: var(--normal);
    background-color: var(--white);
    border: 1px solid var(--g06);
  }
  &.big {
    font-size: 1.125rem;
    font-weight: 700;
  }
  &:disabled {
    opacity: 0.5;
  }
  &.action {
    // background: var(--action-form);
    color: var(--white);
  }
  &.primary {
    color: var(--white);
    background-color: var(--action);
  }
  &.secondary {
    color: var(--white);
    background-color: var(--secondary);
  }
  &.cancel {
    color: var(--normal);
    background-color: var(--g08);
  }
}

input {
  appearance: none;
}

section {
  + section {
    margin-top: 1rem;
  }
}
