#home {
  font-size: inherit;
}

.home-logo {
  // background-size: cover;
  // color: transparent;
}

#menu {
  display: none;
}

@media (min-width: 720px) {
  #menu {
    display: block;
    .mainMenu {
      display: flex;
      .mainMenu-item {
        margin: 0 0.5rem;
      }
    }
    .subMenu {
      position: absolute;
      display: none;
      .subMenu-item {
      }
    }
  }
}
