.setting {
  width: 100%;
  &-menus {
    &:first-child {
      margin-top: 1rem;
    }
    .menus-title {
      font-size: 0.875rem;
      color: var(--g03);
      padding: 1rem 1rem 0;
      font-weight: 500;
    }
  }
  &-menu {
    background: var(--white);
    padding: 1rem;
    border-top: 1px solid var(--g07);
    position: relative;
    &:last-child {
      border-bottom: 1px solid var(--g07);
    }
    .title {
      color: var(--body);
      font-weight: 500;
      font-size: 1rem;
      margin: 0;
    }
    .desc {
      color: var(--g04);
      width: 75%;
    }
    .set {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      a {
        color: var(--action-form);
      }
    }
    .link {
      background: url('/common/images/icon_arrow_next.svg') no-repeat right 0
        top 50%/10px;
      width: 30px;
      height: 30px;
      display: block;
      overflow: hidden;
      text-indent: -9999px;
    }
  }
}

.logout {
  &-outer {
    padding: 1rem;
  }
  background: var(--white);
  border: 1px solid var(--g06);
  color: var(--action-form);
}
