.search-tab {
  display: flex;
  margin-bottom: 1rem;
  .tab {
    display: flex;
    flex: 1;
    flex-grow: 1;
    width: 100%;
    justify-content: space-between;
    margin-right: 14px;
    text-align: center;
    position: relative;
    &.active {
      input[name='search'] {
        + span {
          position: absolute;
          border-radius: 0.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background: var(--white);
          border: 1px solid var(--primary);
          color: var(--body);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
        }
      }
    }
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 42px;
      color: var(--g04);
      border-radius: 0.25rem;
      background: var(--g08);
      input[name='search'] {
        position: absolute;
        opacity: 0;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.sub-tab {
  display: flex;
  // margin-bottom: 1rem;
  padding: 0 1rem;
  border-bottom: 1px solid #ccc;
  .tab {
    display: flex;
    flex: 1;
    flex-grow: 1;
    width: 100%;
    justify-content: space-between;
    // margin-right: 14px;
    font-size: 16px;
    text-align: center;
    position: relative;
    &.active {
      input[name='tabmenu'] {
        + span {
          position: absolute;
          width: 100%;
          height: 100%;
          line-height: 50px;
          background: var(--white);
          color: var(--body);
          font-weight: bold;
          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--black);
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50px;
      color: var(--g04);
      border-radius: 0.25rem;
      input[name='tabmenu'] {
        position: absolute;
        opacity: 0;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.tab-container {
  .tab-content {
    display: none;
    h3 {
      &:first-child {
        margin-top: 0;
      }
    }
    // &.active {
    //   display: block;
    // }
  }
}

.flight-type {
}

.form-style {
  position: relative;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  label {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    &:first-child {
      border-bottom: 1px solid var(--g06);
    }
    input[type='text'] {
      color: var(--primary);
      font-size: 1rem;
      font-weight: 700;
      border: none;
      width: calc(100% - 40px);
    }
    span {
      color: var(--g03);
      font-size: 0.75rem;
    }
  }
  .change-position {
    position: absolute;
    right: -1px;
    top: 38px;
    width: 42px;
    height: 42px;
    display: block;
    text-indent: -9999px;
    background: var(--white) url('/common/images/icon_change.svg') no-repeat
      center center;
    border: 1px solid var(--g06);
    border-radius: 0.5rem 0 0 0.5rem;
  }
  &.form-top,
  &.form-left {
    background-color: var(--white);
    border: 1px solid var(--g06);
  }
  &.form-left {
    flex-grow: 1;
    margin-bottom: 0;
    margin-right: 0.25rem;
  }
  &.form-right {
    display: flex;
    flex-direction: column;
    min-width: 90px;
    margin-bottom: 0;
    button {
      font-size: 1rem;
      font-weight: 700;
      color: var(--primary);
      background: var(--white);
      border: 1px solid var(--g06);
      background-size: 1rem;
      background-repeat: no-repeat;
      background-position: center center;
      span {
        display: block;
        color: var(--g03);
        font-size: 0.75rem;
      }
    }
  }
  &.form-bottom {
    display: flex;
    .inner {
      flex: 1;
      background: var(--white);
      border: 1px solid var(--g06);
      border-radius: 0.5rem;
      text-align: center;
      &:first-child {
        margin-right: 0.5rem;
      }
      button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 700;
        color: var(--primary);
        background: var(--white);
      }
      span {
        display: block;
        color: var(--g03);
        font-size: 0.75rem;
      }
    }
  }
  &.form-inner {
    display: flex;
    margin-top: 0.25rem;
    margin-bottom: 0;
    min-height: 43px;
    .controller {
      text-indent: -999px;
      overflow: hidden;
      height: auto;
      &:first-child {
        margin-right: 0.25rem;
        background-image: url('/common/images/icon_minus.svg');
      }
      &:last-child {
        background-image: url('/common/images/icon_plus.svg');
      }
    }
  }
}

.multicity {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  legend {
    z-index: 0;
    width: unset;
    height: unset;
    text-indent: unset;
    overflow: unset;
    visibility: unset;
    font-size: 0.875rem;
    font-weight: 700;
    position: relative;
    color: var(--primary);
    margin-bottom: 0.5rem;
  }
  &-passenger {
    margin-bottom: 1rem;
    button {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      font-weight: 700;
      color: var(--primary);
      background: var(--white);
      border: 1px solid var(--g06);
      span {
        display: block;
        color: var(--g03);
        font-size: 0.75rem;
      }
    }
  }
}

.search-engine {
  display: flex;
  flex-direction: column;
  select[name='search-engine'] {
    font-weight: 700;
    padding: 8px;
    border: 1px solid var(--g06);
    border-radius: 0.5rem;
    color: var(--primary);
    margin-bottom: 1rem;
    appearance: none;
    background: var(--white) url('/common/images/icon_trangle_b.svg') no-repeat
      center right 1rem;
  }
  button[type='submit'] {
    background: var(--action-form);
    color: var(--white);
  }
  li {
    margin-bottom: 10px;
  }
  &.half {
    li {
      width: calc(50% - 5px);
      float: left;
      &:nth-child(2n) {
        margin-left: 10px;
      }
    }
    .search-link {
      span {
        display: inline-block;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }
    }
  }
  .search-link {
    padding: 12px;
    color: var(--body);
    background-color: var(--white);
    border-radius: 0.25rem;
  }
}
