<!DOCTYPE html>
<html lang="ko">
<head>
	{% include "./_include/_meta.njk" %}
</head>
<body>
<div class="wrap">

	<main class="main-container">
		{% block content %}
		{% endblock %}
  </main>
  <!-- // content -->
</div>
<!-- // wrap -->

{% block footerscript %}
{% endblock %}
{% include "./../_templates/_include/_htmlend.njk" %}
