<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>SUB LAYOUT</title>
	{% include "./_include/_meta.njk" %}
</head>
<body>
<!-- wrap -->
<div class="wrap">
  {% include "./../_templates/_include/_header.njk" %}

  <!-- content -->
	<main class="main-container sub">
		{% block content %}
		{% endblock %}
  </main>
  <!-- // content -->

  {% include "./../_templates/_include/_footer.njk" %}
	{% include "./../_templates/_include/_bottomutil.njk" %}
</div>
<!-- //wrap -->


{% block footerscript %}
{% endblock %}
{% include "./../_templates/_include/_htmlend.njk" %}
