

{%- macro image( class, src, srcsmall, srclarge, alt, width="", height="auto" ) -%}
  <figure class="{{ class }}">
    {# <img src="{{ src }}" width="{{ width }}" height="{{ height }}" alt=""> #}
		<img src="{{ src }}" width="{{ width }}" height="{{ height }}" alt="" srcset="{{ srcsmall }} 480w, {{ srclarge }} 1080w" sizes="50vw">
    <figcaption>{{ alt }}</figcaption>
  </figure>
{%- endmacro %}

{% macro cardSwatch(colorName, colorValue, colorNotes) %}
  <div class="color-swatch-tile">
    <div class="color-swatch" style="background: {{ colorValue }};">
			{{ colorName }}
    </div>
    <div class="color-name">
      color-name: <span style="color:{{ colorValue }}">{{ colorName }}</span>
    </div>
    <div class="color-notes">
      color-notes: <span style="color:{{ colorValue }}">{{ colorNotes }}</span>
    </div>
  </div>
{% endmacro %}
