{%- extends "./../_templates/_sub_layout.njk" -%}
{%- import "./../_templates/_macro/_macro.njk" as macro -%}
{% set description ='' %}
{% set keyword ='' %}
{% set title = 'INFO' %}

{% block content %}
<article>
	<p>base template</p>
</article>
{%- endblock %}
