{%- extends "./../_templates/_sub_layout.njk" -%}
{%- import "./../_templates/_macro/_macro.njk" as macro -%}

{% block content %}
<div class="wrap">
  <h1 class="text-3xl">about 페이지 입니다!</h1>
</div>
{%- endblock %}

{% block footerscript %}
{% endblock %}
{% include "./../_templates/_include/_htmlend.njk" %}
