{%- extends "./../_templates/_sub_layout.njk" -%}
{% set description ='' %}
{% set keyword ='about' %}
{% set title = 'ABOUT!' %}

{% block content %}
<article class="wrap">
  <h1 class="text-3xl">about 페이지 입니다!</h1>
	<p>{% block page_title %}ABO!!UT!{% endblock %}</p>
</article>
{%- endblock %}

{% block footerscript %}
{% endblock %}
{% include "./../_templates/_include/_htmlend.njk" %}
