{%- extends "./../_templates/_no_page.njk" -%}
{%- import "./../_templates/_macro/_macro.njk" as macro -%}
{% set title = '' %}

{% block content %}
<div class="contents">
	contents
</div>
{%- endblock %}
